@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
height: 100vh;
display: flex;
flex-direction: column;
background-color: black;
background-image: url("fundo.jpg");
background-size: cover;
background-attachment: fixed;


}
header{background-color: white;
    height: 100px;
    color: blue;
    text-align: center;
    align-content: center;
    font-size: 28px;
display: flex;
justify-content: center;
}

.titulo{
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

main{flex: 1;
flex-direction: row;
display: flex;
justify-content:space-around;
align-items: center;
flex-wrap: wrap ;
gap: 10 px;
padding: 30px 30px;
}
.card{
    width: 300px;
    height: 450px;
    background-color:white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px;
    margin-bottom: 30px;
    text-align: center;
    transition: ease 0.4s;
}
.card img{
    width: 270px;
    height: 270PX;
    object-fit: cover;
}
.card h2{
    margin: 15px;
    color: black;
    border: solid 4px black;
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
 .card p{
    font-size: 10px;
    color: black;
 }
 .card:hover {
    scale: 1.2;
 }
footer{ background-color: white;
    height: 50px;
    color: black;
    text-align: center;
    align-content: center;
    font-size: 25px;
}
